body {
    color: rgb(70, 43, 226);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 10px solid blueviolet; 
}

#cabecera{
    border: 5px  rgb(237, 100, 214) solid;
    font-family: Arial;
    text-align: center;
}
